﻿@model IEnumerable<Drug_Information_System.Models.DrugStatus>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>


<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Availability)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.PregnancyCategory)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.CSASchedule)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.ApprovalHistory)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Availability)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.PregnancyCategory)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.CSASchedule)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.ApprovalHistory)
        </td>
        
    </tr>
}

</table>
