﻿@model Drug_Information_System.Models.User

@{
    ViewBag.Title = "Login";
    dynamic message = ViewBag.message;
    
}




<div class="socialLogin">

    <h3>Sign in With Social Account </h3>
    <hr>
        @using (Html.BeginForm("Facebook", "Account"))
        {
             <button type="submit" class="btn btn-social btn-facebook btn-lg"><i class="fa fa-facebook left"></i>Sign in with Facebook</button>
        }
    <br>
    
   


</div>





<div class="localLogin">
    <h3>Login Your Account</h3>
    <hr >
    @using (Html.BeginForm())
    {
        @Html.AntiForgeryToken()

        <div class="form-horizontal">


            @Html.ValidationSummary(true)

            <div style="padding-left: 200px">

                <label style="color: red">
                    @message
                </label>

            </div>

            <div class="form-group">
                @Html.LabelFor(model => model.UserIdentity, new {@class = "control-label col-md-2"})
                <div class="col-md-10">
                    @Html.TextBoxFor(model => model.UserIdentity, new {@class = "form-control"})
                    @Html.ValidationMessageFor(model => model.UserIdentity)
                </div>
            </div>

            <div class="form-group">
                @Html.LabelFor(model => model.Password, new {@class = "control-label col-md-2"})
                <div class="col-md-10">
                    @Html.PasswordFor(model => model.Password, new {@class = "form-control"})
                    @Html.ValidationMessageFor(model => model.Password)
                </div>
            </div>

            <div class="form-group">
                <div class="col-md-offset-2 col-md-8">
                    <input type="submit" value="Login" class="btn btn-success"/>
                </div>
            </div>
        </div>
    }
</div>






<script src="~/Scripts/jquery.validate.min.js"></script>
<script src="~/Scripts/jquery.validate.unobtrusive.min.js"></script>


<style>
    

    .socialLogin {
        height: auto;
        text-align: center;
        float: right;
        width: 30% !important;
    }

    .localLogin {
        float: left;
        
        border-right: 1px solid grey;
        width: 69% !important;
    }
</style>